# This file is the minimal configuration file used by Dotenv to define the
# environment variables on localhost.
#
# Instructions:
#   1. copy this file as `.env`
#   2. edit the `.env` file with working values
#   3. uncomment the lines to activate or configure associated features
#
# Sections:
#   - friendly captcha
#   - freescout
#   - emailing

# =======
# FRIENDLY CAPTCHA
# =======

# Site key provided by Friendly Captcha (account needs to be created). Used to render captcha.
#
# If not present, captcha verification will be skipped.
# 
# presence: optional
# type: String
FRIENDLY_CAPTCHA_SITE_KEY=SITEKEY123456

# API key provided by Friendly Captcha (account needs to be created). Used to verify captcha
# when submitting form.
#
# Needs to be present if FRIENDLY_CAPTCHA_SITE_KEY is present. Error will be thrown
# when submitting form if not present.
# 
# presence: optional but mandatory if FRIENDLY_CAPTCHA_SITE_KEY is present
# type: String
FRIENDLY_CAPTCHA_API_KEY=APIKEY123456

# Url to Freescout API
# 
# If not present, no conversation will be created to Freescout when submitting forms of type "freescout sending".
# An error will be displayed in console.
#
# presence: optional
# type: Url
FREESCOUT_API_URL=https://freescout.example.pix.net

# API key required to call Freescout API
# 
# If not present, no conversation will be created to Freescout when submitting forms of type "freescout sending".
# An error will be displayed in console.
#
# presence: optional but mandatory if FREESCOUT_API_URL is present
# type: String
FREESCOUT_API_KEY=1234

# =======
# Emailing
# =======

# SMTP host Url for mail server
# 
# If not present, submitting forms of type "email sending" will throw an error.
#
# presence: required
# type: Url
SMTP_HOST=localhost

# SMTP Port for mail server
# 
# If not present, submitting forms of type "email sending" will throw an error.
#
# presence: required
# type: Number
SMTP_PORT=1025

# SMTP Secure for mail server
# 
# If not present, submitting forms of type "email sending" will throw an error.
#
# presence: required
# type: Boolean
SMTP_SECURE=false

# SMTP User for mail server
# 
# If not present, submitting forms of type "email sending" will throw an error.
#
# presence: required
# type: String
SMTP_USER=root

# SMTP Password for mail server
# 
# If not present, submitting forms of type "email sending" will throw an error.
#
# presence: required
# type: String
SMTP_PASS=pass
