body {
	margin: 0;
}

:root {
	--sjs-font-questiondescription-color: #555555;
	--sjs-font-editorfont-placeholdercolor: #555555;
	--sjs-font-surveydescription-color: #555555;
	--sjs-layer-1-foreground-50: #555555;
	--sjs-layer-2-foreground-50: #555555;
	--sjs-layer-3-foreground-50: #555555;
}
