---
const survey = JSON.stringify({
	elements: [{
		name: "FirstName",
		title: "Enter your first name:",
		type: "text"
	}, {
		name: "LastName",
		title: "Enter your last name:",
		type: "text"
	}]
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link href="https://unpkg.com/survey-core/survey-core.min.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js" />
		<script type="text/javascript" src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js" />

		<script>
			const surveyJson = document.body.getAttribute("data-survey");
			const survey = new Survey.Model(surveyJson);
			document.addEventListener("DOMContentLoaded", function() {
				survey.render(document.getElementById("surveyContainer"));


				survey.onComplete.add((survey) => {
					const result = survey.data;
					console.log("Survey results:", result);
					alert("Thank you for completing the survey!");
				});
			});
		</script>

	</head>
	<body data-survey={survey}>
		<h1>Hello</h1>

		<div id="surveyContainer"></div>
	</body>
</html>
